<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>BooksList</title>
</head>
<body>
    <div>
        <h2>Books list</h2>

        <div>
            <div>
                <form th:method="GET" th:action="@{/books}">
                    <label for="count">Show books on page:</label>
                    <select th:name="count" id="count">
                        <option value="5" th:selected="${count == 5}">5</option>
                        <option value="10"  th:selected="${count == 10}">10</option>
                        <option value="15" th:selected="${count == 15}">15</option>
                        <option value="30" th:selected="${count == 30}">30</option>
                    </select>
                    <label for="sortBy">Sort by: </label>
                        <select th:name="sortBy" id="sortBy">
                            <option value="name" th:selected="${sortedBy == 'name'}">name</option>
                            <option value="author" th:selected="${sortedBy == 'author'}">author</option>
                            <option value="year" th:selected="${sortedBy == 'year'}">year</option>
                        </select>
                    <input type="submit" value="Set"/>
                </form>
                <form th:method="GET" th:action="@{/books/search}">
                    <label for="searchValue">Search: </label>
                    <input type="text" th:name="searchValue" id="searchValue" th:value="${searchValue ne null}? ${searchValue} : ''">
                    <input type="submit" value="search">
                </form>
            </div>
        </div>

        <hr>

        <div th:each="book : ${bookList}">

            <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="|${book.getName()} ${book.getAuthor()} ${book.getYear()}|"> book </a>
            <br>

        </div>

        <br>

        <div th:if="${pagination ne null}" class="pagination">
            <th:block th:if="${currentPage-1 >= 0}">
                <a th:href="@{/books(count=${count},page=${currentPage-1},sortBy=${sortedBy})}"><< prev</a>
            </th:block>

            <th:block th:each="page:${pagination}">
                <a th:href="@{/books(count=${count},page=${page},sortBy=${sortedBy})}"
                   th:text="${page}"
                   th:style="${page==currentPage} ? 'pointer-events: none; font-weight: bold; text-decoration:none'">page</a>
            </th:block>

            <th:block th:if="${currentPage < bookList.getTotalPages()-1}">
                <a th:href="@{/books(count=${count},page=${currentPage+1},sortBy=${sortedBy})}">next >></a>
            </th:block>

        </div>

        <hr>

        <div>
            <a th:href="@{/books/add}" th:text="|Add book on collection|"> add </a>

            <a th:href="@{/}" th:text="|Back|"> back </a>
        </div>

    </div>

</body>
</html>